@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/custom.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// for input border in middle
.mdc-notched-outline__notch {
  border: none;
}
